<div class="login">
  <div class="container login__padding-top">
    <div class="row login__container fade">
      <div class="col-md-8 px-0">
        <div class="d-lg-block d-md-block d-none login__image"></div>
      </div>
      <div class="col-md-4 px-0 position-relative">
        <img src="assets/images/logo.png" class="login__logo" />
        <button
          mat-raised-button
          color="primary"
          class="login__button"
          (click)="login()">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png">
          <span class="d-lg-inline d-none">Ingresa con Google</span>
        </button>
        <div class="login__mayday">
          MAYDAY
        </div>
      </div>
    </div>
  </div>
</div>

