<div class="not-found">
  <div class="container not-found__padding-top fade">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 px-0 position-relative not-found__container">
        <img src="assets/images/404.png" class="not-found__logo" />
        <h2 class="text-center p-3">
          Queríamos mostrarte algo aquí, pero no lo encontramos
        </h2>
        <div class="d-flex">
          <button
          mat-raised-button
          color="primary"
          class="not-found__button"
          (click)="back()">
            Regresa donde estabas
          </button>
          <button
          mat-stroked-button
          color="primary"
          class="not-found__button"
          (click)="login()">
           Inicia sesión
        </button>
        </div>
        <div class="not-found__mayday">
          MAYDAY
        </div>
      </div>
    </div>
  </div>
</div>
